<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812848373395-79r8dkgvs5gsbesb0v956qnh9ovhjvpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812848373395-79r8dkgvs5gsbesb0v956qnh9ovhjvpn</string>
	<key>API_KEY</key>
	<string>AIzaSyBhjIKOi5ocUGqRh2-Ona8AQzVEyRn1QSg</string>
	<key>GCM_SENDER_ID</key>
	<string>812848373395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>denguedatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>denguedatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812848373395:ios:2d29f9755980aa40b3b766</string>
	<key>DATABASE_URL</key>
	<string>https://denguedatabase.firebaseio.com</string>
</dict>
</plist>